body {
    background: linear-gradient( #00FFFF, #0d1117 360px);
    background-color: #0d1117;
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    overflow: overlay;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    display: none; 
}

::-webkit-scrollbar-corner {
    display: none; 
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.2);
    border-radius: 15px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(56, 56, 56, 0.7);
}
/* Scrollbar */


/* Fonts */
@font-face {
    font-family: "GoodT";
    src: url("/resources/fonts/GoodTimes.otf");
}

@font-face {
    font-family: "Pijamas";
    src: url("/resources/fonts/Pijamas.ttf");
}
/* Fonts */


/* Header */
#header {
    width: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    padding: 30px 30px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    transition: background 0.3s;
}

#header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
    align-items: center;
}

#header ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0px 0px;
    border-radius: 20px;
    margin-right: 15px;
    transition: .3s;
}

#header ul li a:hover, #header ul li a.active {
    margin-right: 0;
    padding: 5px 15px;
    background: #ffffff;
    color: #3b82f6;
    box-shadow: 0 0 3px 5px #3b83f65f;
}

.logo {
    transition: .2s;
}

.logo:hover {
    transform: scale(1.050);
}
/* Header */


/*  Buttons  */
#button {
    text-decoration: none;
    font-size: 15px;
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    padding: 8px 6px 8px 6px;
    border-radius: 8px;
    width: fit-content;
    height: 45px;
    margin: 10px;
    transition: .3s;
}
  
#button:hover {
    text-decoration: none;
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #ffffff;
    cursor: pointer;
}
/* Buttons */


/* Titles */
h1.index {
    color: #0000ff;
    font-family: 'GoodT';
    font-weight: bold;
    font-size: 110px;
    margin: 20px;
}

h1.shenanigans {
    color: #ffffff;
    font-family: 'Pijamas';
    font-weight: normal;
    font-size: 150px;
    margin: 20px;
}

h1.four {
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 100px;
    margin: 20px;
}
/* Titles */

/* Texts */
p {
    color: #ffffff;
    font-size: x-large;
}

div.text {
    width: 80%;
    word-wrap: normal;
    background-color: #0d1117;
    border-radius: 8px;
    box-shadow: 0 0 8px #0d1117e6;
}
/* Texts */

/* Justification */
#content {
    background-image: url("/resources/images/stars.png");
    overflow: hidden;
}
/* Justification */

/* Animate */
.cat_p, .cat_t {
    opacity: 0;
    transition: .5s;
}
.cat_t:focus-visible {
    opacity: 1;
}

.cat_p:focus-visible {
    opacity: 1;
}

/* Images */
.cat_r {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#cat_p {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 8px;
    transition: .4s;
}

#cat_p:hover {
    box-shadow: 0 0 0 5px #3b83f65f;
    transform: scale(1.050);
}
/* Images */