@font-face {
    font-family: "GoodT";
    src: url("/resources/fonts/good-times.rg-regular.otf");
}

h1 {
    color: #0000ff;
    font-family: 'GoodT';
    font-weight: 600;
    font-size: 300;
}

p {
    color: #ffffff;
    font-size: x-large;
}
