@font-face {
    font-family: "Pijamas";
    src: url("/resources/fonts/Pijamas-ejPO.ttf");
}

h1 {
    color: whitesmoke;
    font-family: 'Pijamas';
    font-weight: 150;
    font-size: 150px;
}

p {
    color: white;
    font-size: x-large;
}