@font-face {
    font-family: "Pijamas";
    src: url("/resources/fonts/Pijamas-ejPO.ttf");
}

h1 {
    color: #f5f5f5;
    font-family: 'Pijamas';
    font-weight: 150;
    font-size: 150px;
}

p {
    color: #ffffff;
    font-size: x-large;
}