@font-face {
    font-family: "Pijamas";
    src: url("/resources/fonts/Pijamas-ejPO.ttf");
}

h1 {
    font-family: 'Pijamas';
    font-weight: 150;
    font-size: 500px;
}

p {
    font-size: x-large;
}

p1 {
    font-weight: 100;
    font-size: larger;
}